<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ '/style.css' | url }}" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/81abe11655.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include "header.html" %}

    <!-- Mobile -->
    <div class="block sm:hidden">
      <div class="m-auto p-4">
        <!-- Linked In -->
        <div class="rounded-xl bg-stone-900/80 p-4">
          <a class="flex" href="https://linkedin.com/in/matthewlsawyer">
            <div class="flex-none relative">
              <!-- TODO dynamically pull image and status -->
              <img
                class="h-16 w-16 rounded-full"
                src="https://media.licdn.com/dms/image/v2/C4E03AQHhCDCuXAPZyQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1557320916961?e=1744243200&v=beta&t=8z4goUlt_1SqZGJMHb9N2CsBo48NRXWS5zN22rIDaZI"
              />
              <div
                class="rounded-full bg-green-400 h-4 w-4 absolute right-0 top-13"
              ></div>
            </div>
            <div class="flex-1 ml-4">
              <!--
              <p class="text-lg font-semibold mb-2">Linked In</p>
              -->
              <p class="text-lg font-semibold mb-2">Linked In</p>
              <p>Staff Software Engineer</p>
              <p class="text-amex font-bold">American Express</p>
              <p class="text-white/40 text-sm tracking-wider">Atlanta, GA</p>
            </div>
          </a>
        </div>

        <div class="my-4"></div>

        <!-- Github -->
        <div class="rounded-xl bg-stone-900/80 p-4">
          <a
            class="flex overflow-x-auto"
            href="https://github.com/matthewlsawyer"
          >
            <i class="flex-none fa-brands fa-github fa-4x text-white"></i>
            <div class="flex-1 ml-4">
              <p class="text-lg font-semibold mb-2">Github</p>
              <p class="font-mono text-white/40 text-xs mb-2">
                latest 3 commits:
              </p>
              <!-- TODO dynamically pull latest 3 commits -->
              <ul class="fa-ul font-mono text-sm !ml-6">
                <li>
                  <span class="fa-li"
                    ><i class="fa-solid fa-code-commit"></i></span
                  >Clean up 11ty link
                </li>
                <li>
                  <span class="fa-li"
                    ><i class="fa-solid fa-code-commit"></i></span
                  >Fix layout
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-solid fa-code-commit"></i></span
                  >Added readme, markdown layout, typography
                </li>
              </ul>
            </div>
          </a>
        </div>

        <div class="my-4"></div>

        <!-- Latest Posts -->
        <p class="text-xl font-semibold">Latest Posts</p>
        <div class="my-4"></div>
        <div class="rounded-xl bg-stone-900/80 p-4 mt-4 overflow-x-auto">
          <!-- TODO load list of latest posts -->
          <a
            class="flex items-start mb-4 border-b-1 border-b-stone-500/40 pb-4"
            href="/post"
          >
            <i class="flex-none fa-solid fa-newspaper mr-2 mt-1.5"></i>
            <div class="flex-1">
              <p class="text-lg">Test Post 1</p>
              <p class="text-sm text-white/40 tracking-wider">Feb 3, 2025</p>
            </div>
          </a>
          <a
            class="flex items-start mb-4 border-b-1 border-b-stone-500/40 pb-4"
            href="/post"
          >
            <i class="flex-none fa-solid fa-newspaper mr-2 mt-1.5"></i>
            <div class="flex-1">
              <p class="text-lg">Test Post 2</p>
              <p class="text-sm text-white/40 tracking-wider">Feb 3, 2025</p>
            </div>
          </a>
          <a class="flex items-start" href="/post">
            <i class="flex-none fa-solid fa-newspaper mr-2 mt-1.5"></i>
            <div class="flex-1">
              <p class="text-lg">Test Post 3</p>
              <p class="text-sm text-white/40 tracking-wider">Feb 3, 2025</p>
            </div>
          </a>
        </div>

        {% include "footer.html" %}
      </div>
    </div>

    <!-- Desktop -->
    <div class="hidden sm:block">
      <div class="flex justify-center h-screen">
        <div class="content-center">
          <div
            class="text-5xl lg:text-6xl font-bold text-center subpixel-antialiased tracking-widest"
          >
            Matthew L. Sawyer
          </div>
          <div class="flex mt-2">
            <div class="flex-1 border-b-2 text-stone-700/80 mb-3 mx-2"></div>
            <div
              class="flex-none text-lg tracking-widest text-stone-300 opacity-50 hover:opacity-100"
            >
              <a href="/page/about">about</a>
            </div>
            <div class="flex-1 border-b-2 text-stone-700/80 mb-3 mx-2"></div>
          </div>

          <!-- Code -->
          <div
            class="relative font-mono text-sm bg-stone-900/80 mt-10 px-6 pr-14 py-5 rounded-3xl"
          >
            <a
              href="https://github.com/matthewlsawyer/matthewlsawyer.github.io"
              class="absolute block z-1 w-10 h-10 content-center text-center top-2 right-2 bg-gray-700 rounded-full opacity-70 hover:opacity-100"
            >
              <span class="text-md font-bold">&lt;&sol;&gt;</span>
            </a>
            <div class="flex flex-nowrap z-0">
              <div class="flex-none w-4">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
              </div>
              <div class="flex-1 cursor-pointer">
                <a
                  href="https://github.com/matthewlsawyer"
                  class="block pl-2 border-l-4 opacity-80 hover:opacity-100 border-indigo-500 hover:bg-stone-700"
                >
                  <i class="fa-brands fa-github w-3"></i>
                  <span class="text-fuchsia-400">var</span
                  ><span>&nbsp;gh =</span
                  ><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                  ><span class="text-blue-400">github.com/</span
                  ><span>matthewlsawyer</span>
                </a>
                <a
                  href="https://linkedin.com/in/matthewlsawyer"
                  class="block pl-2 border-l-4 opacity-80 hover:opacity-100 border-indigo-500 hover:bg-stone-700"
                >
                  <i class="fa-brands fa-linkedin text-linkedin w-3"></i>
                  <span class="text-fuchsia-400">var</span
                  ><span>&nbsp;li =</span><span>&nbsp;</span
                  ><span class="text-blue-400">linkedin.com/in/</span
                  ><span>matthewlsawyer</span>
                </a>
                <a
                  href="https://x.com/matthewlsawyer"
                  class="block pl-2 border-l-4 opacity-80 hover:opacity-100 border-indigo-500 hover:bg-stone-700"
                >
                  <i class="fa-brands fa-x-twitter w-3"></i>
                  <span class="text-fuchsia-400">var</span
                  ><span>&nbsp;&nbsp;x =</span
                  ><span
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                  ><span class="text-blue-400">x.com/</span
                  ><span>matthewlsawyer</span>
                </a>
                <a
                  href="mailto:matthewlsawyer@gmail.com"
                  class="block pl-2 border-l-4 opacity-80 hover:opacity-100 border-indigo-500 hover:bg-stone-700"
                >
                  <i class="fa-brands fa-google w-3 text-google-green"></i>
                  <span class="text-fuchsia-400">var</span
                  ><span>&nbsp;&nbsp;m =</span><span>&nbsp;</span
                  ><span
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                  ><span>matthewlsawyer</span
                  ><span class="text-google-green">@gmail.com</span
                  ><span>&nbsp;</span>
                </a>
              </div>
            </div>
          </div>

          {% include "footer.html" %}
        </div>
      </div>
    </div>
  </body>
</html>
