@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-amex: #016fd0;
  --color-linkedin: #0077b5;
  --color-google-green: #08851b;
  --color-link: #0000ee;
  --color-link-visited: #551a8b;
  --color-link-active: #ff0000;
}

body {
  @apply bg-stone-800 text-white;
}
