<nav class="p-4 border-b border-stone-700/80 flex items-baseline gap-4">
  <a
    href="/"
    title="Home"
    class="group inline-flex items-center gap-2 text-xl font-bold tracking-wide text-white"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="size-4 shrink-0 text-stone-400 group-hover:text-stone-200"
      aria-hidden="true"
    >
      <path
        fill-rule="evenodd"
        d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z"
        clip-rule="evenodd"
      />
    </svg>
    <span>Matthew L. Sawyer</span>
  </a>
  <a
    href="/blog/"
    class="text-base text-stone-400 hover:text-stone-200"
    >posts</a
  >
  <a
    href="/page/about/"
    class="text-base text-stone-400 hover:text-stone-200"
    >about</a
  >
</nav>
