<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ '/style.css' | url }}" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/81abe11655.js"
      crossorigin="anonymous"
    ></script>
    <title>
      {{ title }}{% if published|length %}&nbsp;{{ published }}{% endif %}
    </title>
  </head>
  <body>
    {% include "header.html" %}
    <div class="m-auto p-4 md:p-12">
      <article class="prose prose-invert lg:prose-xl">
        {{ content | safe }}
      </article>
      {% include "footer.html" %}
    </div>
  </body>
</html>
